body{
    background-color: #F3F5FC;
    font-family: Source Sans Pro;
    font-weight: 400;
    /*Tengo weight 200, 400 y 700*/
}

.logo{
    position: absolute;
    left: 40px;
    top: 40px;
}

.zona-encriptado{
    position: absolute;
    left: 280px;
    top: 168px;
    width: 47%;
    height: 288px;
    resize: none;
    background-color: #F3F5FC;
    font-family: Source Sans Pro;
    font-size: 32px;
    line-height: 1.5em;
    border:none;
    outline: none;
    color:#0A3871;
}

.zona-encriptado::placeholder{
    color: #0A3871;
    opacity: 0.5;
}

.aviso{
    display: block;
    position: absolute;
    top: 790px;
    left: 410px;
    font-size: 14px;
    color: #495057;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    left: 410px;
    top: 815px;
}

.boton-encriptar{
    display: inline-block;
    width: 332px;
    height: 67px;
    border-radius: 24px;
    color: white;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    font-size: 18px;
    cursor:pointer;
    transition: 0.3s all;
}

.boton-desencriptar{
    display: inline-block;
    width: 332px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 18px;
    cursor:pointer;
    transition: 0.3s all;
}

.boton-desencriptar:hover,.boton-encriptar:hover{
    transform: scale(1.03);
}

.rectangulo-blanco{
    position: absolute;
    background-color: white;
    width: 400px;
    height: 867px;
    left: 1310px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.muñeco{
    position: absolute;
    left:1340px;
    top: 283px;
}

.hidden{
    visibility: hidden;
}

.sintexto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    text-align: center;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1340px;
    top: 619px;
}

.mensaje1{
    width: 336px;
    height: 40px;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
}

.mensaje2{
    width: 336px;
    height: 40px;
    font-size: 16px;
    line-height: 1.3em;
    color: #495057;
}

.texto-procesado{
    position: absolute;
    width: 340px;
    height: 730px;
    left: 1340px;
    top: 65px;
    font-size: 24px;
    line-height: 1.3em;
    color:#495057;
    border: none;
    background-color: rgba(0,0,0,0);
    font-family: Source Sans Pro;
    resize: none;
    outline: none;
    caret-color: transparent;
}

.boton-copiar{
    display: inline-block;
    width: 332px;
    height: 67px;
    border-radius: 24px;
    background-color: white;
    color: #0A3871;
    border: 1px solid #0A3871;

    font-size: 18px;
    cursor:pointer;
    transition: 0.3s all;
    position: absolute;
    left:1340px;
    top:815px;
}

.boton-copiar:hover{
    transform: scale(1.03);
}